{% extends "layout.html" %} {% block content %}
<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="/showSignin">Sign In</a></li>
      <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Python Flask App</h3>
</div>

<div class="jumbotron">
  <h1>{{error}}</h1>
</div>
{% endblock %}
