{% extends "layout.html" %} {% block content %}
<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="">Home</a></li>
      <li role="presentation"><a href="/showSignin">Sign In</a></li>
      <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Python Flask App</h3>
</div>

<div class="jumbotron">
  <h1>Bucket List App</h1>
  <p class="lead"></p>
  <p>
    <a class="btn btn-lg btn-success" href="showSignUp" role="button"
      >Sign up today</a
    >
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Bucket List</h4>
    <p>
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis
      interdum.
    </p>

    <h4>Bucket List</h4>
    <p>
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis
      consectetur purus sit amet fermentum.
    </p>

    <h4>Bucket List</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4>Bucket List</h4>
    <p>
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis
      interdum.
    </p>

    <h4>Bucket List</h4>
    <p>
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis
      consectetur purus sit amet fermentum.
    </p>

    <h4>Bucket List</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
{% endblock %}
