<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Flask Bucket List App</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/signup.css" />
    <!--Sripts-->
    <script src="../static/js/signUp.js"></script>
    <script src="../static/js/signIn.js"></script>
  </head>

  <body>
    <div class="container">
      {% block content %}
      <!--Contenido-->
      {% endblock %}
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
    </div>
  </body>
</html>
