{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/showSignin">Sign In</a></li>
        <li role="presentation" class="active"><a href="">Sign Up</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Python Flask App</h3>
  </div>

  <div class="jumbotron">
    <h1>Bucket List App</h1>
    <h2>Sign Up</h2>
    <form class="form-signin">
      <input
        type="name"
        name="inputName"
        id="inputName"
        class="form-control"
        placeholder="Name"
        required
        autofocus
      />
      <input
        type="email"
        name="inputEmail"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <input
        type="password"
        name="inputPassword"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />

      <button
        id="btnSignUp"
        class="btn btn-lg btn-primary btn-block"
        type="button"
      >
        Sign up
      </button>
    </form>
  </div>
  {% endblock %}
</div>
