{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="">Sign In</a></li>
        <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Python Flask App</h3>
  </div>

  <div class="jumbotron">
    <h1>Bucket List App</h1>
    <h2>Sign In</h2>
    <form class="form-signin" action="/validateLogin" method="post">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        name="inputEmail"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        name="inputPassword"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />

      <button
        id="btnSignIn1"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign in
      </button>
    </form>
  </div>
  {% endblock %}
</div>
